<li>
ja;lj
  {{#link-to 'restaurant' restaurant.id}}
	{{restaurant.image}}<br>
	<h3>{{restaurant.name}}</h3> <em>{{restaurant.city}}</em> in {{restaurant.type}}
  <label><b>Location:</b></label>{{restaurant.city}}<br>{{/link-to}}
  {{#if isDescriptionShowing}}
    <p>Description</p>
    {{else}}
    <button{{action 'showDescription'}}>View details »</button>

  {{/if}}
</li>
